@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&family=Poppins:wght@300;400;500;700&family=Roboto&family=Ubuntu&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

.getStarted {
  background: linear-gradient(180deg, #0027d6 0%, #08f 100%);
}

.steps {
  background: linear-gradient(90deg, #0027d6 0%, #08f 100%);
}

.firstList {
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.25);
}

.image-wrapper{
  margin: 0px 30px;
}

.image-wrapper img{
  width: 80%;
}

.backNo{
  background: url("./Components/assets/images/backgroudNo.svg");
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
